body, html {
  width:100%;
  height:100%;
  margin: 0;
  font-size: 20px;
  min-width: 1150px;
}

#root, #appContainer {
  height:100%;
  width: 100%;
}

#appContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#finder-wrapper{
  width: 68%;
  height: 45px;
  flex-shrink: 0;
  margin: auto;
  display: flex;
  border: solid 1px grey;
  border-radius: 10px;
}

#finder-wrapper form{
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: row;
  border-radius: 10px;
}

#finder-wrapper form div{
  display: flex;
  flex-direction: row;
  align-items: center;
}

#finder-wrapper div p{
  margin-left: 5px;
  color: #68686C;
  font-size: 16px;
  font-weight: bold;
  cursor: default;
}

.food-option {
  cursor: pointer;
}

input {
  height: 100%;
  text-align: left;
  font-size: 16px;
  border: none;
  margin: 0 auto;
  padding: 0;
  margin-left: 5px;
  margin-right: 5px;
  flex-grow: 2;
}

input:focus{
  outline: none;
}
  
#search {
  border: none;
  text-decoration: none;
  font-size: 14px;
  text-align: center;
  background-color: black;
  color: white;
  vertical-align: middle;
  border-radius: 0px 8px 8px 0px;
}

#submit input {
  vertical-align: middle;
  cursor: pointer;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0px 5px 0px 5px;
}

#food  {
  width: 30%;
}

#budget {
  width: 20%;
}

#submit {
  flex-grow: 1;
}

#food, #budget, #location {
  border-right: solid 1px grey;
}

#location {
  width: 40%;
}

#food-results {
  display: flex;
  flex-direction: column;
  width: 75%
}

#results-wrapper {
  flex-grow: 1;
  width: 100%;
  overflow-y: scroll;
  border-bottom: solid 1px grey;
  border-top: solid 1px grey;
  height: 620px;
}

#result-1, #result-2, #result-3 {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 28%;
  border-bottom: solid 1px grey;
  padding:15px 0 15px 0;
}

#result-3 {
  border-bottom: none;
}

.result-body, .result-header, .result-footer {
  width: 95%;
  margin: auto;
  margin-right: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.dummy {
  height:30px;
}

.result-header {
  margin-top: 0;
}

.result-footer {
  margin-bottom: 0;
  display: flex;
  justify-content: space-between;
  font-size: 15px;
}

#results-wrapper img{
  height: 100%;
  width: 175px;
  margin-left: 9px;
  border-radius: 10px;
}

.result-main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-right: 9px;
}

.result-rank{
  width: 15%;
}

.result-price{
  width: 25%;
}
.result-address, .result-phone {
  white-space: nowrap;
}

.result-phone, .result-price {
  text-align: right;
  white-space: nowrap;
}

.result-name {
  flex-grow: 1;
  text-align: center;
}

#loading {
  margin: auto;
  font-weight: bold;
  -webkit-animation-name: spin;
  -webkit-animation-duration: 1000ms;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: spin;
  -moz-animation-duration: 1000ms;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -ms-animation-name: spin;
  -ms-animation-duration: 1000ms;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;
  -o-transition: rotate(3600deg);
}




/* Change the white to any color ;) */
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px white inset;
}

@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(359deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(359deg); }
}
@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(359deg);}
}

a[href^="tel:"] {
  text-decoration: none;
}

#results-wrapper::-webkit-scrollbar {
    width:9px;
}

#results-wrapper::-webkit-scrollbar-track {
    -webkit-border-radius:5px;
    border-radius:5px;
    background:rgba(0,0,0,0.1);
}

#results-wrapper::-webkit-scrollbar-thumb {
    -webkit-border-radius:5px;
    border-radius:5px;
    background:rgba(0,0,0,0.2);
}

#results-wrapper::-webkit-scrollbar-thumb:hover {
    background:rgba(0,0,0,0.4);
}

#results-wrapper::-webkit-scrollbar-thumb:window-inactive {
    background:rgba(0,0,0,0.05);
}

