#navbar {
	font-family: 'Lato', sans-serif;

	position: sticky;
	top: 0;
	
	display: flex;
	width: 100%;
	justify-content: flex-start;
	height: 43px;
	align-items: center;
	flex: 0 0 auto;
	/*background-color: #0D1A5C;*/
	/*background-color: #1E52F1;*/

	background-color: #EB7608;
	z-index: 1;
}

.link {
	text-align: center;
	margin-right: 30px;
	font-weight: 700;
	color: white;
	/*background-color: white;*/
	cursor: pointer;
	border:none;
	font-size: 15px;
	text-decoration: none;
}

.link:visited {
	color: white;
}

button:focus {
	outline:0;
}

#space {
	flex: 1 1 auto;
}

#about-link {
}

#home-link {
	margin-left: 15px;
}
